.index-suggestion {
    padding-top: 24px;
    padding-bottom: 30px;
    background-color: #252525;
    hr {
        width: 60px;
        left: 0;
        margin-left: 0;
        border-top: 1px solid #707070;
    }
    &__slide {
        &.slick-slider {
            margin-bottom: 0 !important;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            bottom: 0;
        }
    }
    &__bestsell {
        h1 {
            color: #fff;
            font-weight: bold;
            padding-bottom: 20px;
        }
        .h1 {
            padding-bottom: 20px;
            font-size: 40px;
            font-weight: bold;
            color: #fff;
        }
        &--block {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border: 1px solid #94bf46;
            background: #fff;
            img {
                width: 100%;
            }
        }
        &-detail {
            width: 100%;
            padding: 15px;
            background-color: #94bf46;
            color: #fff;
            word-wrap: break-word;
            a {
                color: #fff;
                h3 {
                    margin-top: 0;
                    font-weight: bold;
                }
                &--price {
                    font-size: 16px;
                }
            }
        }
        .noresult {
            color: #fff;
            font-size: 28px;
        }
    }
}
.index-activity {
    position: relative;
    padding: 60px;
    background-color: #fff;
    h1 {
        font-weight: bold;
    }
    .h1 {
        margin: 0 auto;
        font-size: 40px;
        font-weight: bold;
        color: #000;
    }
    #news-slider {
        button {
            position: absolute;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            background: transparent;
            border-top: .4rem solid black;
            border-right: .4rem solid black;
            box-shadow: 0 0 0 black;
            transition: all 200ms ease;
            color: #fff;
            &:hover {
                border-top: .4rem solid green;
                border-right: .4rem solid green;
            }
        }
        .slick-prev {
            z-index: 1;
            transform: translate3d(0,-50%,0) rotate(-135deg);
            &:before {
                content: none;
            }
        }
        .slick-next {
            z-index: 1;
            transform: translate3d(0,-50%,0) rotate(45deg);
            &:before {
                content: none;
            }
        }
        .slick-prev:before, .slick-next:before {
            color: #000;
        }
        .slick-slide {
            min-height: 340px;
        }
    }
    &__box {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #f1f1f1;
        border-radius: 7px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__border {
        position: relative;
        height: 180px;
        margin: 20px auto;
        img {
            border-radius: 5px;
        }
    }
    &__created {
        color: #999;
        font-style: italic;
    }
    &__title {
        color: #000;
        font-size: 17px;
        font-weight: bold;
    }
}
.index-winner {
    position: relative;
    height: 475px;
    background-color: #242526;
    &__left {
        height: 475px;
        background-image: url("/img/resource/winnerCat/winlight_catalog_header_01.jpg");
        img {
            width: 100%;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
        &--download {
            position: absolute;
            margin: auto;
            top: 30px;
            right: 50px;
            color: #fff;
            &-title {
                font-size: 60px;
                font-weight: 100;
            }
            &-subtitle {
                line-height: 2px;
                font-size: 35px;
                font-weight: bold;
            }
            &-button {
                width: 180px;
                margin-top: 60px;
                margin-left: 40px;
                padding: 0 20px;
                font-size: 27px;
                font-weight: bold;
                border-radius: 20px;
                background-color: #95C342;
                &:hover {
                    box-shadow: 0 0 30px #888888;
                }
            }
        }
    }
    &__right {
        position: relative;
        width: 100%;
        height: 475px;
        float: left;
        padding: 10px;
        &--image {
            position: relative;
            width: 40%;
            float: left;
            margin-right: 10px;
            img {
                width: 100%;
                max-height: 456px;
            }
            .overlay {
                position:absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(150, 192, 0, 0.6);
                z-index: 9999;
                color: white;
                visibility: hidden;
                transform: translate(0, 0);
                img {
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 80px;
                }
            }
            &:hover > .overlay {
                visibility: visible;
            }

        }
    }
}
.index-philips {
    position: relative;
    height: 475px;
    background-image: url("/img/resource/winnerCat/philips_catalog_header_01.jpg");
    background-color: #242526;
    a {
        text-decoration: none;
        color: #fff;
    }
    &__download {
        position: absolute;
        margin: auto;
        top: 30px;
        right: 50px;
        color: #fff;
        &-title {
            font-size: 60px;
            font-weight: 100;
        }
        &-subtitle {
            line-height: 2px;
            font-size: 35px;
            font-weight: bold;
        }
        &-button {
            width: 180px;
            margin-top: 60px;
            padding: 0 20px;
            font-size: 27px;
            font-weight: bold;
            border-radius: 20px;
            background-color: #95C342;
            &:hover {
                box-shadow: 0 0 30px #888888;
            }
        }
    }
}
.index-reference {
    padding: 60px 0;
    &__header {
        &--title {
            font-size: 40px;
            font-weight: bold;
            .h1 {
                margin: 0 auto;
                font-size: 40px;
                font-weight: bold;
                color: #000;
            }
        }
        &--subtitle {
            font-size: 18px;
        }
    }
    &__content {
        margin-top: 10px;
        &--border {
            background-color: #ededed;
            &-img {
                width: 150px;
                height: 150px;
                margin: 20px auto;
                img {
                    width: 100%;
                }
            }
        }
    }
    &__logo {
        &:first-child {
            margin-top: 10px;
            margin-bottom: 30px;
        }
        img {
            margin: 0 20px;
        }
    }
    hr {
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        border-top: 2px solid #eeeeee;
    }
}
.index-contact {
    width: 100%;
    height: 530px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    background-image: url("/img/resource/map_001.jpg");
    &__box {
        width: 400px;
        height: 250px;
        background-color: #fff;
        margin-top: 135px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 55px;
        &--title {
            font-size: 20px;
            font-weight: bold;
            color: #60ab14;
        }
        &--content {
            font-size: 18px;
            font-style: italic;
            margin-top: 25px;
        }
    }
}
.m-l-r-0 {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 991px) {
    .index-suggestion {
        &__bestsell {
            padding-top: 0;
            &--block {
                margin-top: 30px;
            }
        }
    }
}
