@import "font";

@import "about/main";
@import "contact/main";
@import "common/main";
@import "event/main";
@import "index/main";
@import "download/main";
@import "product/main";
@import "promotion/main";
@import "reference/main";
@import "service/main";

@font-face {
    font-family: 'Kanit', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Kanit) format("truetype");
}
.p-r-l-0 {
    padding-left: 0;
    padding-right: 0;
}
.p-t-b-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.video-ralative {
    position: relative;
    background-color: #252525;
}
