.product-item {
    &__category {
        width: 100%;
        background-color: #fff;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
        &--image {
            position: relative;
            width: 500px;
            height: 500px;
            margin-left: 20px;
            margin-top: 20px;
            border: 1px solid #94bf46;
            img {
                position: absolute;
                width: 100%;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        &--description {
            margin-top: 10px;
        }
    }
}
