.product-item {
    &__category {
        width: 100%;
        background-color: #fff;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
        &--image {
            position: relative;
            //width: 500px;
            height: 500px;
            margin-top: 20px;
            border: 1px solid #94bf46;
            img {
                position: absolute;
                width: 100%;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        &--code {
            margin-top: 20px;
        }
        &--code, &--title, &--price {
            font-size: 20px;
        }
        &--description {
            margin-top: 10px;
            table {
                overflow-x: auto;
                min-height: 0.01%;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .product-item {
        &__category {
            &--image {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .product-item {
        &__category {
            &--image {
                height: 200px;
            }
        }
    }
}
