@font-face {
  font-family: 'Kanit';
  font-weight: normal;
  src: url("../fonts/Kanit/Kanit-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Kanit';
  font-weight: bold;
  src: url("../fonts/Kanit/Kanit-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Kanit';
  font-weight: 100;
  src: url("../fonts/Kanit/Kanit-SemiBold.ttf") format("truetype"); }

div {
  font-family: 'Kanit', sans-serif; }

.story {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #666;
  text-align: center;
  overflow: hidden; }
  .story img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .story__title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #22b24c; }
  .story__description {
    margin-top: 30px;
    font-size: 16px;
    color: #949494; }
  .story__circle {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 0;
    margin-left: 0; }
    .story__circle--item {
      width: 200px;
      height: 200px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%; }
      .story__circle--item img {
        width: 100%; }

.navbar-header__menu {
  position: absolute;
  margin-top: 20px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background-color: transparent; }

.navbar-header__menu-image {
  float: left; }
  .navbar-header__menu-image img {
    width: 50px;
    height: 50px; }

.navbar-header__menu-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right; }

.navbar-header__menu-box li {
  float: left;
  border-right: 1px solid white; }
  .navbar-header__menu-box li:last-child {
    border-right: 0px solid white; }
  .navbar-header__menu-box li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0; }
  .navbar-header__menu-box li a:hover {
    color: #23b14c; }

.navbar-header__content {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  margin-top: 100px;
  z-index: 1;
  text-align: center; }
  .navbar-header__content--title {
    font-size: 40px;
    font-weight: bold;
    color: #fff; }
  .navbar-header__content--subtitle {
    margin-top: -2px;
    font-size: 18px;
    color: #fff; }

.navbar-header__green-line {
  border-bottom: 5px solid #23b14c; }

.setfooter {
  height: 230px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #2e3031; }

.fontfooter1 {
  font-size: larger;
  text-align: center; }

.fontfooter2 {
  text-align: right;
  color: #FFFFFF; }

.setcol-left {
  margin-top: 40%; }

.setcol-right {
  margin-top: 40px; }

.footer {
  width: 100%;
  margin: 0; }
  .footer .navbar-footer__menu-box {
    padding-top: 0;
    margin-top: 15px;
    margin-bottom: 15px; }
    .footer .navbar-footer__menu-box ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden; }
    .footer .navbar-footer__menu-box li {
      float: right;
      border-right: 1px solid white; }
      .footer .navbar-footer__menu-box li:first-child {
        border-right: 0 solid white; }
        .footer .navbar-footer__menu-box li:first-child a {
          padding-right: 0; }
      .footer .navbar-footer__menu-box li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        padding-top: 0;
        padding-bottom: 0; }
        .footer .navbar-footer__menu-box li a:hover {
          color: #23b14c; }

.index-history {
  width: 100%;
  height: 342px;
  padding-top: 60px;
  background-color: #fff;
  background-image: url("/img/resource/header_01.jpg"); }
  .index-history__title {
    font-size: 45px;
    font-weight: bold;
    color: #219c46;
    text-shadow: 2px 2px #285737; }
  .index-history__content {
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #a8b1ab; }
  .index-history__button {
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #a8b1ab;
    background-color: transparent;
    border: 1px solid #a8b1ab; }
  .index-history__circle {
    width: 100%;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-right: 0;
    margin-left: 0; }
    .index-history__circle--item {
      width: 200px;
      height: 200px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%;
      border: 2px solid #166c3b; }
      .index-history__circle--item img {
        width: 100%; }

.index-product {
  width: 100%;
  height: 270px;
  padding-top: 60px;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  background-image: url("/img/resource/product_header_01.jpg"); }
  .index-product__title {
    font-size: 40px;
    font-weight: bold;
    color: #107326; }
  .index-product__sub-title {
    font-size: 25px;
    font-weight: bold;
    color: #e5e5e5;
    margin-top: -10px; }
  .index-product__content {
    font-size: 15px;
    color: #dce6d1; }
  .index-product__button {
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: transparent;
    margin-top: 120px;
    border: 1px solid #fff; }
  .index-product__preview {
    width: 180px;
    height: 180px;
    margin: 60px auto;
    border: 1px solid #94bf46; }

.index-service {
  width: 100%;
  height: 270px;
  padding-top: 60px;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  background-image: url("/img/resource/service_header.jpg"); }
  .index-service__title {
    font-size: 40px;
    font-weight: bold;
    color: #b65203; }
  .index-service__sub-title {
    font-size: 25px;
    font-weight: bold;
    color: #e5e5e5;
    margin-top: -10px; }
  .index-service__content {
    font-size: 15px;
    color: #fff; }
  .index-service__button {
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: transparent;
    margin-top: 120px;
    border: 1px solid #fff; }
  .index-service__circle {
    width: 100%;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-right: 0;
    margin-left: 0; }
    .index-service__circle--item {
      width: 200px;
      height: 200px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%;
      border: 2px solid #ffa517; }
      .index-service__circle--item img {
        width: 100%; }

.index-reference {
  width: 100%;
  height: 270px;
  padding-top: 60px;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  background-image: url("/img/resource/reference_header.jpg"); }
  .index-reference__title {
    font-size: 40px;
    font-weight: bold;
    color: #0c648e; }
  .index-reference__sub-title {
    font-size: 25px;
    font-weight: bold;
    color: #e5e5e5;
    margin-top: -10px; }
  .index-reference__content {
    font-size: 15px;
    color: #fff; }
  .index-reference__button {
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: transparent;
    margin-top: 120px;
    border: 1px solid #fff; }
  .index-reference__showcase {
    margin-left: 0;
    margin-right: 0; }
    .index-reference__showcase--inner {
      margin-top: 60px;
      margin-bottom: 100px; }
    .index-reference__showcase img {
      margin: 10px 15px; }

.index-contact {
  width: 100%;
  height: 530px;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  background-image: url("/img/resource/map_001.jpg"); }
  .index-contact__box {
    width: 400px;
    height: 250px;
    background-color: #fff;
    margin-top: 135px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 55px; }
    .index-contact__box--title {
      font-size: 20px;
      font-weight: bold;
      color: #60ab14; }
    .index-contact__box--content {
      font-size: 18px;
      font-style: italic;
      margin-top: 25px; }

.m-l-r-0 {
  margin-left: 0;
  margin-right: 0; }

.product-index {
  width: 100%;
  height: 250px;
  margin-right: 0;
  margin-left: 0;
  background-image: url("/img/resource/product_header_01.jpg"); }
  .product-index__header {
    margin-top: 40px; }
    .product-index__header--title {
      margin-top: -13px;
      font-size: 40px;
      font-weight: bold;
      color: #107326; }
    .product-index__header--sub-title {
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      margin-top: -10px; }
    .product-index__header--description {
      font-size: 15px;
      color: #fff; }

.product-content {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px; }
  .product-content__main {
    background-color: #f1f1f1; }
  .product-content__header {
    font-size: 35px;
    font-weight: bold; }
  .product-content__menu {
    display: block;
    margin-top: 10px; }
    .product-content__menu--square {
      width: 12px;
      height: 12px;
      margin-top: 5px;
      margin-left: 2px;
      float: left;
      border: 1px solid #94bf46; }
      .product-content__menu--square:active {
        background-color: #94bf46; }
    .product-content__menu--title {
      width: auto;
      margin-left: 25px;
      font-size: 15px; }
      .product-content__menu--title a {
        color: #626262;
        text-decoration: none; }
        .product-content__menu--title a:hover {
          font-weight: bold; }
  .product-content__category {
    width: 100%;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px; }
    .product-content__category--item {
      width: 200px;
      height: 200px;
      margin-left: 20px;
      margin-top: 20px;
      border: 1px solid #94bf46; }
      .product-content__category--item:hover {
        background-color: #94bf46; }
      .product-content__category--item img {
        width: 100%; }
    .product-content__category ol.breadcrumb {
      padding: 8px 16px;
      margin-top: 20px;
      list-style: none;
      font-size: 16px;
      font-style: italic;
      background-color: transparent; }
    .product-content__category ol.breadcrumb li {
      display: inline; }
    .product-content__category ol.breadcrumb li + li:before {
      padding: 8px;
      font-weight: bold;
      color: #626262;
      content: "\003e"; }
    .product-content__category ol.breadcrumb li a {
      color: #626262; }
  .product-content hr {
    width: 60px;
    left: 0;
    margin-left: 0;
    border-top: 1px solid #707070; }

.product-item__category {
  width: 100%;
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: -30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px; }
  .product-item__category--image {
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #94bf46; }
    .product-item__category--image img {
      width: 100%; }
  .product-item__category--description {
    margin-top: 10px; }

.reference {
  width: 100%;
  height: 250px;
  margin-right: 0;
  margin-left: 0;
  background-image: url("/img/resource/reference_header.jpg"); }
  .reference__header {
    margin-top: 40px; }
    .reference__header--title {
      margin-top: -13px;
      font-size: 40px;
      font-weight: bold;
      color: #0b658f; }
    .reference__header--sub-title {
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      margin-top: -10px; }
    .reference__header--description {
      font-size: 15px;
      color: #fff; }
  .reference__content {
    margin-bottom: 30px; }
    .reference__content--item {
      background-color: transparent; }
      .reference__content--item img {
        margin-top: 30px; }
        .reference__content--item img:hover {
          background-color: #0000AA; }

.service {
  width: 100%;
  height: 250px;
  margin-right: 0;
  margin-left: 0;
  background-image: url("/img/resource/service_header.jpg"); }
  .service__first-header {
    margin-top: 40px; }
    .service__first-header--title {
      margin-top: -13px;
      font-size: 40px;
      font-weight: bold;
      color: #b45215; }
    .service__first-header--sub-title {
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      margin-top: -10px; }
    .service__first-header--description {
      font-size: 15px;
      color: #fff; }
  .service__header {
    width: 100%;
    height: auto; }
    .service__header--title {
      margin-top: 100px;
      font-size: 40px;
      font-style: italic;
      color: #ff8f05; }
    .service__header--sub-title {
      margin-top: 10px;
      font-size: 20px;
      font-style: italic;
      color: #a3a2a0; }
  .service__content {
    margin-top: 100px;
    margin-bottom: 100px; }
    .service__content--title {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      font-size: 22px;
      font-style: italic; }
    .service__content--description {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      font-size: 15px;
      font-style: italic; }
  .service__circle {
    width: 100%;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 0;
    margin-left: 0; }
    .service__circle--item {
      width: 200px;
      height: 200px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%;
      border: 4px solid #23b14c; }
      .service__circle--item img {
        width: 100%; }

@font-face {
  font-family: 'Kanit', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Kanit) format("truetype"); }

.p-r-l-0 {
  padding-left: 0;
  padding-right: 0; }

.p-t-b-0 {
  padding-top: 0;
  padding-bottom: 0; }

/*# sourceMappingURL=main.css.map */
